.options{
    text-align: center;
    background-color: #686868;
    font-family: Arial, Helvetica, sans-serif
}

#liorPic{
    width: 10%;
    border-radius: 30%;
    box-shadow: 0 6px 12px 0 black;
}

.btn{
    background-color: #0069D9;
    color: white;
    margin-left: 4px;
}