<div class="options">
  <div class="about">
  <app-mini-btns></app-mini-btns>
     <a style="text-decoration: none; color: inherit; " (click)='change("options")' href="#"><h1>Sites I've made so far</h1></a> 
      <p>LIORLIORLIORLIOPRLIOORLIORLIORLIOR </p>
      <div class="grid-container">
        <div class="grid-item">
          <div class="card">
            <div class="card-header">
              <p>Epic-Chess</p>
            </div>
            <div class="card-body">
              <img (load)='iLoaded()' [@loaded]=loaded src="../../assets/epichess.png">
            </div>
          </div>
        </div>
        <div class="grid-item">
            <div class="card">
              <div class="card-header">
                <p>Epic-Chess</p>
              </div>
              <div class="card-body">
                <img (load)='iLoaded()' [@loaded]=loaded src="../../assets/epichess.png">
              </div>
            </div>
          </div>
      </div>
  </div>
</div> 