  <div class="grid-container2">
      <div class="grid-item2">
          <button routerLinkActive="active" [@btnColor]='currState' (click)='change("options")' mat-raised-button class="btn2">1</button>
      </div>
      <div class="grid-item2">
      <button [@btnColor]='currState' (click)='change("art")' mat-raised-button class="btn2">2</button>
      </div>
      <div class="grid-item2">
          <button [@btnColor]='currState' (click)='change("cv")' mat-raised-button class="btn2">3</button> 
      </div>  
  </div>