<div class="grid-container">
  <div class="grid-item">
      <button (click)='change("sites")' routerLinkActive="active" [@btnColor]='currState' mat-raised-button class="btn">Sites I've Made</button>
  </div>
  <div class="grid-item">
      <button (click)='change("art")' [@btnColor]='currState'  mat-raised-button class="btn">Visual Art I've Designed</button>
  </div>
  <div class="grid-item">
      <button (click)='change("cv")' [@btnColor]='currState' mat-raised-button class="btn">My CV</button>    
  </div>
</div>
